.ProfileComponent {
  .body {
    gap: 2rem;
    display: grid;
    grid-template-columns: min-content 1fr;

    padding-top: 2rem;

    .left {
      width: 24rem;

      display: flex;
      flex-direction: column;

      padding: 0 2rem;

      border-right: 1px solid #eee;
      .image {
        display: flex;
        justify-content: center;

        margin-bottom: 1.5rem;

        img {
          width: 15rem;
          height: 15rem;

          border-radius: 100%;
        }
      }

      .name {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;

        margin-bottom: 3rem;
      }

      .field {
        gap: 1rem;
        display: flex;
        align-items: center;

        cursor: pointer;
        padding: 0.6rem 1rem;
        margin-bottom: 0.5rem;

        border: 1px solid #eee;
        border-radius: 1rem;

        i {
          margin-top: 3px;
        }
      }
    }
    
    .right {
      padding-top: 1rem;
      .heading {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        margin-left: 1.2rem;
      }
      img{
        height: 40rem;
        width: 70rem;
      }
      .orders {
        gap: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 27rem));

        .order {
          border: 1px solid #eee;
          outline: 1px solid transparent;

          border-radius: 1rem;
          padding: 1.2rem;

          cursor: pointer;

          &:hover {
            outline-color: #eee;
          }

          .id {
            font-size: 1.1rem;
            margin-bottom: 1rem;
            font-weight: 600;
          }

          .orderStatus {
            font-size: 0.9rem;
            font-weight: 500;

            margin-bottom: 2rem;
          }

          .info {
            gap: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
