img {
   // height: 50rem;
   // width: 50rem;
   position: relative;
}
.msg {
   position: absolute;
   top: 7rem;
   left: 50rem;
   font-weight: 700;
   font-size: 1.5rem;
}

.WishlistComponent {
   padding-top: 1.5rem;
   padding-left: 1.5rem;

   .allProducts {
      gap: 1.5rem;
      display: flex;
      flex-wrap: wrap;
   }
}
