#topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;

  position: sticky;
  top: 0rem;

  border-bottom: 1px solid #eee;

  &.active {
    display: none;
  }

  .leftTitle {
    display: flex;
    align-items: center;
    gap: 8rem;

    height: 6rem;
    background: #fff;

    #app {
      display: flex;
      align-items: center;
      #logo {
        display: inline-flex;
        img {
          width: 3rem;
          height: 3rem;
          margin-right: 12px;
        }
      }
      #florence {
        font-family: "domine";
        font-weight: 700;
        font-size: 1.6rem;
        letter-spacing: -0.5px;
      }
    }
    #catagory {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      font-weight: 500;
      color: #7e7e7e;

      // #selectCatory {
      //   color: black;
      // }

      .category {
        cursor: pointer;

        &.active {
          color: black;
          font-weight: 600;
        }
      }
    }
  }
  .rightTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .cart,
    .profile {
      i {
        font-size: 20px;
        cursor: pointer;
      }
    }
    .dp {
      img {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 100%;
      }
    }
  }
}
#divider {
}
