@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap");
@import "./Styles/Icons.css";

html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Poppins";
  box-sizing: border-box;
  transition: all 150ms ease-in-out;
}

i {
  margin-top: 1px;
}

input {
  accent-color: #000;

  &[type="checkbox"] {
    cursor: pointer;
  }
}
.img{
  display: flex;
  
}
img{
  height: 45rem;
  width: 110rem;
}